/********************
Color Palette:
Yellow Orange - #F8991D
Green - #6AD163
Blue - #0087DF
Purple - #CC66FF
White (Reverse Text) - #FFFFFF
Black (Background/Text) - #2C292D
Grey (Background) - #EDEDEF
Dark Grey - #807684

Fonts:
font-family: niveau-grotesk, sans-serif;
font-family: 'Poppins', sans-serif;
********************/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
}

h1, h2, h3 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
}

main {
    background-color: #EDEDEF;
    padding: 40px 0;
}



/**** Header ****/
header, footer {
    background-color: #2C292D;
    padding: 28px;
}

.desktop-nav, .donate {
    display: none;
}

header img {
    position: relative;
    right: 30px;
}

header img, footer img {
    width: 250px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**** Hamburger Menu ****/
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: relative;
    z-index:2;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #FFF;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }

  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }

  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
  }

  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }

  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }

  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #mobile-nav {
    z-index: 1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    margin: -28px;
  }
  
  #mobile-nav.overlay{
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background:rgba(44,41,45,0.9);
  }
  
  #mobile-nav li{
    list-style-type: none;
  }

  #mobile-nav a {
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    font-weight: bold;
  }

  .orange {
    color: #F8991D; 
}

.green {
    color: #6AD163; 
}

.purple {
    color: #CC66FF; 
}

.blue {
    color: #0087DF; 
}


/****************************************** ABOUT PAGE - MOBILE VIEW ******************************************/

.about-section {
    background-color: white;
    border-radius: 20px;
    margin: 5%;
    padding: 5%;
    }
    
.about-section h2 {
    padding: 20px 0;
}
    
.about-section img {
    border-radius: 20px;
    width: 100%;
}
    
.history {
    text-align: center;
    color: white;
    background-color: #CC66FF;
    border-radius: 20px;
    margin: 5%;
    padding: 10%;
}
    
#readBtn {
    background-color: #0087DF;
    margin: 30px;
    font-family: niveau-grotesk, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
}
    
#more {
    display: none;
}
    
.who-we-are {
    color: white;
    background-color: #6AD163;
    border-radius: 20px;
    margin: 5%;
    padding: 6% 3%;
    text-align: center;
}
    
.people {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}
    
.people-profile {
    text-align: center;
    width: 100%;
}
    
.people-profile img {
    max-width: 145px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
    
    
.people-profile p:first-of-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
}
    
.people-profile p:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.6em;
}
    
    
.goals {
    color: white;
    background-color: #0087DF;
    border-radius: 20px;
    margin: 5%;
    padding: 10%;
}
    
.goals img {
    width: 100%;
    margin: 5% 0;
}

/********************** Programs Page **********************/
.activity-content {
    text-align: center;
    padding: 20px 0;
}

#activity-button {
    border: none;
    color: #FFFFFF;
    background-color: #0087DF;
    border-radius: 10px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    width: 280px;
    margin-top: 15px;
  }

.programs-page h6 {
    font-size: 1.2rem;
    padding: 20px 5px 10px;
}

/********************** Programs Page **********************/

/********************** Resources Page **********************/
.resources-page .white-box,
.programs-page .white-box,
.resources-intro,
.programs-intro {
    max-width: 1500px;
    margin: auto;
}

.resources-page main,
.programs-page main,
.volunteer main {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2C292D;
    background-color: #EDEDEF;
}

.resources-intro,
.programs-intro,
.volunteer-intro {
    padding: 0 3%;
}

.resources-intro h1,
.programs-intro h1,
.volunteer-intro h1
 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    padding-bottom: 10px;
}

.resources-intro p,
.programs-intro p,
.volunteer-intro p {
    color: #807684;
    font-weight: 400;
    font-size: 1rem;
}

.resources-page .white-box,
.programs-page .white-box,
.volunteer .white-box {
    background-color: #FFFFFF;
    width: 94%;
    border-radius: 20px;
    margin: 40px auto;
}

.resource-section-intro,
.program-section-intro,
.volunteer-section-intro  {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    border-bottom: #2C292D 1px solid;
    margin: 0 12px;
}

.resource-section-intro h2,
.program-section-intro h2,
.volunteer-section-intro h2 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0 15px;
}

.resource-container,
.volunteer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
    color: #FFFFFF;
}

.resource-container h3 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-bottom: 5px;
}

.resource-container p {
    font-size: .9rem;
    padding-bottom: 10px;
}

.resources-page article,
.volunteer article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resources-page .color-dots,
.programs-page .color-dots,
.volunteer .color-dots {
    width: 60%;
    max-width: 215px; 
}

.resources-page article img,
.volunteer article img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.25;
}

.orange-article {
    background-color: #F8991D;
}

.green-article {
    background-color: #6AD163;
}

.purple-article {
    background-color: #CC66FF;
}

.blue-article {
    background-color: #0087DF;
}

.resources-page article,
.volunteer article {
    position: relative;
    overflow: hidden;
    width: 94%;
    max-width: 450px;
    border-radius: 20px;
    margin: 18px 0;
}

.resources-page article div,
.volunteer article div {
    position: absolute;
    padding: 16px 18px;
  }

.resources-page article div button,
.volunteer article div button {
    border: none;
    color: #FFFFFF;
    background-color: #2C292D;
    border-radius: 10px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    width: 150px
  }

  /********** Footer **********/
footer {
    text-align: center;
}


footer ul li a, footer a {
    color: #FFFFFF;
}

.footer-links {
    padding-bottom: 40px;
}

.footer-links li {
    list-style-type: none;
}

.footer-links ul li a, .contact-us {
    text-decoration: none;
}

.footer, .contact-us {
    font-family: niveau-grotesk, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.about-us  {
    color: #F8991D; 
}

.resources  {
    color: #6AD163;
}

.programs {
   color: #CC66FF; 
}

.contact-info {
    padding-top: 20px;
}

.social-media a {
    color: #EDEDEF;
    opacity: 0.5;
    font-size: 40px;
}

.fab {
    padding: 10px;
}

/********** Media Queries **********/

/* Start 340 Min Width Media Query */
@media (min-width: 340px) {
    .resources-intro h1,
    .programs-intro h1,
    .volunteer-intro h1 {
        font-size: 2.2rem;
    }

    .programs-intro p, 
    .volunteer-intro p {
        font-size: 1.1rem;
    }

    .program-section-intro h2,
    .volunteer-section-intro h2 {
        font-size: 1.5rem;
        padding: 20px 0 15px;
    }

    .resources-page article div,
     .volunteer article div {
        padding: 22px 24px;
    }

    .resources-page article div h3,
    .volunteer article div h3 {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .resources-page article div p,
    .volunteer article div p {
        font-size: 1rem;
    }
}
/* End 340 Min Width Media Query */
/* Start 500 Min Width Media Query */
@media (min-width: 500px) {
    .resource-section-intro h2,
    .programs-section-intro h2,
    .volunteer-section-intro h2 {
        font-size: 1.9rem;
        padding: 20px 0 15px;
    }

    .resources-page article div,
    .volunteer article div {
        padding: 32px 34px;
      }

    .resources-page article div h3,
    .volunteer article div h3 {
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-bottom: 15px;
    }

    .resources-page article div p, 
    .volunteer article div p{
        font-size: 1.05rem;
        padding-bottom: 15px;
    }

    .resources-page article div button,
    .volunteer article div button {
        padding: 15px 0;
        font-size: 1.3rem;
        width: 170px
      }
    
    .people-profile {
        text-align: center;
        width: 50%;
    }
}
/* End 500 Min Width Media Query */
/* Start 630 Min Width Media Query */
@media (min-width: 630px) {
    .resources-page .white-box,
    .programs-page .white-box,
    .volunteer .white-box {
        width: 90%;
        padding-bottom: 40px;
        margin-bottom: 80px;
    }
    .resources-intro,
    .programs-intro,
    .volunteer {
        padding: 0 5%;
    }


    /* ABOUT PAGE QUERY COULD GO HERE... */
}
/* End 630 Min Width Media Query */

/* Start 860 Min Width Media Query */
@media (min-width: 860px) {
    .resource-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .resource-section-intro,
    .program-section-intro,
    .volunteer-section-intro {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
    }

    .resources-page section,
    .programs-page section,
    .volunteer section {
        padding: 12px;
    }

    .resources-page .resources-intro,
    .programs-page .programs-intro,
    .volunteer .volunteer-intro {
        padding: 0 5%;
    }

    .resources-page .color-dots,
    .programs-page .color-dots,
    .volunteer .color-dots {
        width: 175px; 
    }

    .resources-page article,
    .volunteer article {
        margin: 2%;
        width: 46%;
    }

    .resources-intro h1,
    .programs-intro h1,
    .volunteer-intro h1 {
        font-size: 2.8rem;
    }

    .resources-intro p,
    .programs-intro p,
    .volunteer-intro p {
        font-size: 1.3rem;
    }

    .resource-section-intro,
    .program-section-intro,
    .volunteer-section-intro {
        width: 96%;
    }

    .resource-section-intro h2,
    .program-section-intro h2,
    .volunteer-section-intro h2 {
        font-size: 1.9rem;
        padding: 20px 0 15px;
    }

    .resources-page article div,
    .volunteer article div {
        padding: 22px 24px;
    }

    .resources-page article div h3,
    .volunteer article div h3 {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .resources-page article div p,
    .volunteer article div p {
        font-size: 1rem;
    }
}

/********** Start 1000px Media Query **********/
@media (min-width: 1000px) {
    /**** Header/Nav ****/
    .site-header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    header img {
        position: initial;
        right: 0;
    }
    
    #mobile-nav, #burger-menu {
        display: none;
    }

    .desktop-nav, .donate {
        display: block;
    }

    .desktop-nav ul li {
        display: inline-block;
        list-style-type:none;
        font-size: 20px;
    }


    .desktop-nav ul li a {
        text-decoration: none;
        font-weight: bold;
        padding: 20px;
    }

   /* The Modal (background) */
    .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
        color: #2C292D;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-header {
        padding: 10px;
        background-color: #0087DF;
        color: #FFFFFF;
        flex-direction: row-reverse;
    }
    
    .modal-body {
        padding: 30px;
        }


    .orange:hover, .green:hover, .purple:hover {
        text-decoration: underline;
    }

    .donate {
        background-color: #0087DF;
        font-size: 20px;
        padding: 10px;
        border-radius: 8px;
    }

    .donate a {
        color: #FFFFFF;
    }

    .donate:hover {
        background-color: #FFFFFF;
    }

    .donate a:hover {
        text-decoration: none;
        color: #0087DF;
    }


    /**** About Page - Desktop View ****/

    .about-section:first-child {
        background-color: white;
        border-radius: 10px;
        margin: 5%;
        padding: 5%;
        display: flex;
    }

    .about-section:first-child img {
        border-radius: 20px;
        padding: 15px;
        width: 45%;
    }

    .our-mission div {
        width: 50%;
        padding: 100px 0;
    }

    .people {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    
    .people-profile img {
        max-width: 150px;
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
    }
    
    .people-profile {
        text-align: center;
        width: 100%;
        max-width: 25%;
    }

    /**** Programs ****/
    .programs-page {
        background-color: #EDEDEF;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .programs-main {
        flex: 1;
    }


    /**** Footer ****/
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-links {
        text-align: left;
        margin: 30px;
    }

    .footer-links ul li a:hover {
        text-decoration: underline;
    }


    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 20px;
    }

    .contact-us {
        padding-right: 20px;
    }
    
    
    .social-media a {
        transition: .3s;
    }

    .social-media a:hover {
        opacity: 1;
        transition: .3s;
    }
}
/********** End 1000px Media Query **********/

/* Start 1060 Min Width Media Query */
@media (min-width: 1060px) {
    /**** About Page - Desktop View ****/

.about-section:first-child {
    background-color: white;
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    display: flex;
    align-items: center;
    }
    
    .about-section:first-child img {
    border-radius: 20px;
    width: 50%;
    height: fit-content;
    }
    
    .our-mission {
    width: 50%;
    padding: 0 0 0 30px;
    }
    
    .our-mission p {
    font-size: 0.9em;
    }
    
    .people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    }
    
    .people-profile {
    text-align: center;
    width: 100%;
    max-width: 23%;
    padding: 0 5px;
    }
    
    .people-profile img {
    max-width: 300px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    }
    
    .people-profile p:first-of-type {
    font-size: 0.9em;
    }
    
    .people-profile p:last-of-type {
    font-size: 0.7em;
    }

    .resources-page article,
    .volunteer article {
        margin: 1.5%;
        width: 30%;
    }

    .resources-page article div,
    .volunteer article div {
        padding: 17px 19px;
    }

    .resources-page article div h3, 
    .volunteer article div h3 {
        font-size: 1.3rem;
        line-height: 1.7rem;
        padding-bottom: 6px;
    }

    .resources-page article div p,
    .volunteer article div p {
        font-size: .9rem;
        padding-bottom: 7px;
    }

    .resources-page article div button,
    .volunteer article div button {
        padding: 10px 0;
        font-size: 1.2rem;
        width: 150px
      }
}
/* End 1060 Min Width Media Query */

/********** Start 1200px Media Query **********/
@media (min-width: 1200px) {
    /* About Page - Desktop View - Goals Section */

    .goals {
        display: flex;
        flex-direction: row;
        margin: 5%;
        padding: 10%;
    }

    .goals div {
        width: 45%;
        padding: 60px 15px;
    }

    .goals img {
        width: 100%;
        max-width: 50%;
        padding: 0 10px;
    }
}
/* End 1200 Min Width Media Query */



/********** Start 2000px Media Query **********/
@media (min-width: 2000px) {
    header img {
        width: 300px;
    }
    
    .desktop-nav ul li a {
        font-size: 25px;
        margin: 8px;
    }

    footer img {
        width: 300px;
    }

    .contact-info {
        right: 0;
    }

}

/********** End 2000px Media Query **********/
/*Gabriel's stuff*/
#slider {
	overflow: hidden;
    width: 100;
}
#slider figure {
	position: relative;
	width: 400%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
   
}
#slider figure img {
	width: 25%;
	float: left;
    max-height: 700px;
    border-radius: 20px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.dark-box {
    background-color: #000000;
    width: 94%;
    border-radius: 20px;
    margin: 40px auto;
}

.volunteer main {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2C292D;
    background-color: #EDEDEF;
}

.volunteer-intro {
    padding: 0 3%;
}

.volunteer-intro h1 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    padding-bottom: 10px;
}

.volunteer-intro p {
    color: #807684;
    font-weight: 400;
    font-size: 1rem;
}

.volunteer .white-box {
    background-color: #FFFFFF;
    width: 94%;
    border-radius: 20px;
    margin: 40px auto;
}

.volunteer-section-intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    border-bottom: #2C292D 1px solid;
    margin: 0 12px;
}

.volunteer-section-intro h2 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0 15px;
}

.volunteer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 0;
    color: #FFFFFF;
    justify-content: space-around;
}

.volunteer-container h3 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-bottom: 5px;
}

.volunteer-container p {
    font-size: .9rem;
    padding-bottom: 10px;
}

.volunteer article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-dots {
    width: 60%;
    max-width: 215px; 
}

.volunteer article img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.25;
}

.orange-article {
    background-color: #F8991D;
}

.green-article {
    background-color: #6AD163;
}

.purple-article {
    background-color: #CC66FF;
}

.blue-article {
    background-color: #0087DF;
}

.volunteer article {
    position: relative;
    overflow: hidden;
    width: 94%;
    max-width: 45%;
    border-radius: 20px;
    margin: 18px 0;
    justify-content: space-around;
}

.volunteer article div {
    position: absolute;
    padding: 16px 18px;
  }

.volunteer article div button {
    border: none;
    color: #FFFFFF;
    background-color: #2C292D;
    border-radius: 10px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    width: 150px
  }

.volunteer main {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2C292D;
    background-color: #EDEDEF;
}

.volunteer-intro {
    padding: 0 3%;
}

.volunteer-intro h1 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    padding-bottom: 10px;
}

.volunteer-intro p {
    color: #807684;
    font-weight: 400;
    font-size: 1rem;
}

.volunteer .white-box {
    background-color: #FFFFFF;
    width: 94%;
    border-radius: 20px;
    margin: 40px auto;
}

.volunteer-section-intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    border-bottom: #2C292D 1px solid;
    margin: 0 12px;
}

.volunteer-section-intro h2 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0 15px;
}

.volunteer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 0;
    color: #FFFFFF;
    justify-content: space-around;
}

.volunteer-container h3 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-bottom: 5px;
}

.volunteer-container p {
    font-size: .9rem;
    padding-bottom: 10px;
}

.volunteer article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-dots {
    width: 60%;
    max-width: 215px; 
}

.volunteer article img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.25;
}

.orange-article {
    background-color: #F8991D;
}

.green-article {
    background-color: #6AD163;
}

.purple-article {
    background-color: #CC66FF;
}

.blue-article {
    background-color: #0087DF;
}

.volunteer article {
    position: relative;
    overflow: hidden;
    width: 94%;
    max-width: 45%;
    border-radius: 20px;
    margin: 18px 0;
    justify-content: space-around;
}

.volunteer article div {
    position: absolute;
    padding: 16px 18px;
  }

.volunteer article div button {
    border: none;
    color: #FFFFFF;
    background-color: #2C292D;
    border-radius: 10px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    width: 150px
  }
